* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.user {
  margin-top: 20px;
}

ul {
  display: flex;
  list-style: none;
  gap:  12px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.repo-item {
  border: 2px solid #ececec;
  border-radius: 10px;
  padding: 12px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  margin-bottom: 4px;
}